@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  #eat {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
    background: #388E3C;
    border: solid #000;
    border-width: 0 10px 10px 0;
    // z-index: 1;
  }
  #play {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 50%;
    background: #448AFF;
    border: solid #000;
    border-width: 0 0 10px 0;
    // z-index: 1;
  }
  #fight {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;
    background: #FF5722;
    border: solid #000;
    border-width: 0 10px 0 0;
    // z-index: 1;
  }
  #sleep {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    background: #757575;
    // z-index: 1;
  }
}

.app {
  z-index: 1;
}

.progress {
  position: absolute;
  background-color: cornsilk;
  border: 3px solid grey;
  height: 150px;
  width: 20%;
  border-radius: 50%;
  margin: 30px auto;
  z-index: 2;
}
